@using AppPW3.Entidades
@model AppPW3.Entidades.Tarea

@{
    ViewBag.Title = "Crear";
}

@section Body
{
    <div class="col-md-10 offset-1 ">

        <ol class="breadcrumb shadow p-3 mb-5 bg-dark">
            <li class="breadcrumb-item text-muted">Mis Tareas</li>
            <li class="breadcrumb-item active text-white">Crear nueva</li>
        </ol>


        <div class="card">
            <div class="card-header bg-success mb-3 text-white">
                Complete los siguientes campos para crear una nueva tarea:
            </div>

            @using (Html.BeginForm("Crear", "Tareas", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-sm-6 col-form-label" })

                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Este campo es obligatorio." } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "col-sm-6 col-form-label" })
                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Este campo es opcional." } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(model => model.EstimadoHoras, htmlAttributes: new { @class = "col-sm-6 col-form-label" })

                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.EstimadoHoras, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Este campo es opcional" } })
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "col-sm-6 col-form-label" })

                        <div class="col-sm-11">
                            @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Este campo es opcional" } })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "col-sm-3 col-form-label" })

                        <div class="col-sm-11">
                            <select class="custom-select" name="Prioridad">
                                <option selected value="4" class="text-info">Baja</option>
                                <option value="3" class="text-warning">Media</option>
                                <option value="2" class="text-danger">Alta</option>
                                <option value="1" class="text-danger font-weight-bold">Urgente</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(model => model.IdCarpeta, htmlAttributes: new { @class = "col-sm-3 col-form-label" })

                        <div class="col-sm-11">
                            <select class="custom-select" name="IdCarpeta">
                                @foreach (var c in ViewBag.CarpetasDelUsuario)
                                {
                                    <option value="@c.IdCarpeta">@c.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mb-5">
                    <button type="submit" class="btn btn-outline-success">Carpeta Nueva Tarea</button>
                </div>
            }

        </div>
    </div>
}