@using AppPW3.Entidades
@model List<Tarea>

@{
    ViewBag.Title = "Home";
}

@section Body
{
    <ol class="breadcrumb shadow p-3 mb-5 bg-dark">
        <li class="breadcrumb-item active text-white">Inicio</li>
    </ol>

    <div class="btn-group mb-4">
        <a class="btn btn-outline-primary" href="@Url.Content("~/Carpetas/Index")">Mis Carpetas</a>
        <a class="btn btn-outline-success" href="@Url.Content("~/Carpetas/Crear")">Crear Carpeta</a>
    </div>

    <card class="card">
        <div class="card-title">
        </div>
        <table class="table table-hover">
            <p class="text text-center font-weight-bold">Tareas No Completadas</p>
            <thead class="thead-inverse">
                <tr>
                    <th>Fecha Límite</th>
                    <th>Nombre</th>
                    <th>Prioridad</th>
                    <th>Carpeta</th>
                    <th>Tiempo Estimado</th>
                    <th>Completada</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (Tarea t in Model)
                {
                    <tr>
                        <td>@t.FechaFin</td>
                        <td><a href="~/Tareas/Detalle/@t.IdTarea">@t.Nombre</a></td>
                        @switch (t.Prioridad)
                        {
                            case 1:
                                <td>Urgente</td> break;
                            case 2:
                                <td>Alta</td>break;
                            case 3:
                                <td>Media</td>break;
                            case 4:
                                <td>Baja</td>break;
                            default:
                                <td></td>break;
                        }

                        <td>@t.IdCarpeta</td>
                        <td>@t.EstimadoHoras</td>
                        @if (@t.Completada == 0)
                        {
                            <td>No</td>}
                        else
                        {
                            <td>Si</td>}
                        <td>
                            <a class="btn btn-outline-info" href="~/Tareas/Detalle/@t.IdTarea">Ver</a>
                            <a class="btn btn-outline-danger" href="~/Tareas/CompletarTareaHome/@t.IdTarea">Completar tarea</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </card>



}