@using AppPW3.Entidades
@model List<Tarea>

@{
    ViewBag.Title = "Home";
}

@section Body
{
    <ol class="breadcrumb shadow p-3 mb-5 bg-dark">
        <li class="breadcrumb-item active text-white">Home</li>
    </ol>

    <div class="btn-group mb-4">
        <a class="btn btn-outline-primary" href="@Url.Content("~/Carpetas/Index")">Mis Carpetas</a>
        <a class="btn btn-outline-success" href="@Url.Content("~/Carpetas/Crear")">Crear Carpeta</a>
    </div>

    <card class="card">
        <div class="card-title">
            <h6 class="text text-center">Tareas No Completadas</h6>
        </div>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Fecha Límite</th>
                    <th>Nombre</th>
                    <th>Prioridad</th>
                    <th>Carpeta</th>
                    <th>Tiempo Estimado</th>
                    <th>Completada</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var tareas in Model)
                {
                    <tr>
                        <td>@tareas.FechaFin</td>
                        <td><a href="~/Tareas/Detalle/@tareas.IdTarea">@tareas.Nombre</a></td>
                        <td>@tareas.Prioridad</td>
                        <td>@tareas.IdCarpeta</td>
                        <td>@tareas.EstimadoHoras</td>
                        <td>@tareas.Completada</td>
                        <td>
                            <a class="btn btn-outline-info" href="~/Tareas/Detalle/@tareas.IdTarea">Ver</a>
                            <a class="btn btn-outline-info" href="~/Tareas/CompletarTareaHome/@tareas.IdTarea">Completar tarea</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </card>



}